:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000;
  --accent-color: #18a0fb;
  --primary-bg-color: #fff;
}
body {
  background-color: rgb(27, 240, 169);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}
/*убрать точки у навигации*/
.list {
  list-style: none;
}
/*цвет,шрифт логотипа*/
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent-color);
}
/*навигация сайта*/
.site-nav list {
}
.auth-nav list {
}
/*цвет при наведении на навигацию*/
.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}
/*авторизация*/
/*  КНОПКИ */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  border-color: blue;
}

/* главная секция в main h1*/
.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/*секции в main h2*/
.section-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
/* h3 */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
/*  p по умолчанию в body
.feature-list .text {
  font-size: 18px;
  line-height: 1.67;
}*/
/*.feature-list .link {
  color: var(--accent-color);
}*/
/* galereya h3 */
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
