:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000;
  --accent-color: #18a0fb;
  --primary-bg-color: #fff;
}
body {
  background-color: rgb(27, 240, 169);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}
/* blok navigation */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid rgb(8, 105, 29);
}
.page-header {
  background-color: rgb(8, 105, 29);
}
/*убрать точки у навигации*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*цвет,шрифт логотипа*/
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent-color);
}
/*навигация сайта*/
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 70px;
}
.site-nav .item + .item {
  margin-left: 20px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 12px;
}
/*цвет при наведении на навигацию*/
.site-nav .link {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 21px;
  padding-bottom: 21px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}
/*авторизация*/
/*  КНОПКИ */
.button {
  border-radius: 10px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  width: 80px;
  padding: 11px 22px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  border-color: blue;
}

/* главная секция в main h1*/
.hero-style {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}

/*секции в main h2*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
/*Альтернатива - отступы между блоками*/
/* .flex-element:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .flex-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
/*или*/
/* .flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}*/
/* .flex-element:nth-child(3n) {
  margin-right: 0;
} */
/* .flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* h3 */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}
.feature-list .item {
  width: 625px;
  margin: 40px 75px;
  background-color: tomato;
}
.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 32px;
}
/*  p по умолчанию в body
.feature-list .text {
  font-size: 18px;
  line-height: 1.67;
}*/
/*.feature-list .link {
  color: var(--accent-color);
}*/
/* work-list */
.work-list .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.work-list .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: rgb(39, 228, 48);
}

.work-list > .item:nth-child(2n + 1) > .content {
  margin-left: 84px;
}
.work-list > .item:nth-child(2n) >.content {
  margin-right: 84px;
}
/* work h3 */
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
/* секция партнери */
.section-title.centered,
.section-description.centered {
  text-align: center;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: -30px -45px;
  margin-left: auto;
  margin-right: auto;
}
.client-list li {
  margin: 30px 45px;
}
.section-description {
  font-size: 36px;
  line-height: 1.39;
  margin-top: 0;
  margin-bottom: 80px;
}



.container.loy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section-description.loy {
  width: 1000px;
}
.auth-nav.list.loy {
  padding: 11px;
  
}



.footer {
}
